<div class="modal animated" role="dialog" tabindex="-1" id="exampleModalCenterhelp" aria-labelledby="exampleModalCenterhelp" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                        <nav>
                            <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active btn-light" id="nav-help-tab" data-toggle="tab" href="#nav-help-tab" role="tab" aria-controls="nav-help" aria-selected="true">Help</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-h-tab">
                            <div class="tab-pane fade show active" aria-labelledby="nav-help-tab">
                                <div class="modal-body">
                                    <div class="card-body">
                                        <h4>You need to read below points before adding post</h4><br>
                                        <ul>
                                            <li>
                                                write good and to the point
                                            </li>
                                            <li>
                                                give credit if you use any image from internet
                                            </li>
                                            <li>
                                                if someone report about your post we just disable it and inform you
                                            </li>
                                            <li>
                                                do not copy content from other website
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer"><a class="btn btn-light" type="button btn-success" data-dismiss="modal">Go Back</a></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
