{% extends 'base.html' %}
{% block title %} | Password Reset ccmplete {% endblock %}
{% block content %}
<section id="login" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="alert alert-success" class="card">
            <h4>Your password is successfully changed.Go to</h4><a class="btn" style="background: rgba(32, 134, 107, 0.8)" href="{% url 'login' %}"><h4>Login page</h4></a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
